
<div class="ic-sidenav">
    <div class="ic-sidenav-scroll">
        <ul class="metismenu" id="menu">
            <li class="menu-title border-top-0 pt-2">Main Menu2</li>
            <li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <i class="flaticon-home"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/index">Dashboard Light</a></li>
                    <li><a href="/index-2">Dashboard Dark</a></li>
                    <li><a href="/project-page">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/kanban">Kanban</a></li>
                    <li><a href="/calendar-page">Calendar</a></li>
                    <li><a href="/message">Message</a></li>	
                </ul>

            <!--
            <li class="menu-title">Apps</li>
            <li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                <i class="flaticon-shopping-bag"></i>

                    <span class="nav-text">Ecommerce</span>
                </a>
                <ul aria-expanded="false">
                    
                    <li><a class="has-arrow" href="javascript:void(0);" aria-expanded="false">Categories</a>
                        <ul aria-expanded="false">
                            <li><a href="/category-table">Category Table</a></li>
                            <li><a href="/add-category">Add Category</a></li>
                            <li><a href="/edit-category">Edit Category</a></li>
                        </ul>
                    </li>
                   
                    <li><a class="has-arrow" href="javascript:void(0);" aria-expanded="false">Products</a>
                        <ul aria-expanded="false">
                            <li><a href="/product-table">Product Table</a></li>
                            <li><a href="/add-product">Add product</a></li>
                            <li><a href="/edit-product">Edit Product</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="javascript:void(0);" aria-expanded="false">Shop</a>
                        <ul aria-expanded="false">
                            <li><a href="/ecom-product-grid">Product Grid</a></li>
                            <li><a href="/ecom-product-list">Product List</a></li>
                            <li><a href="/ecom-product-detail">Product Details</a></li>
                            <li><a href="/ecom-product-order">Order</a></li>
                            <li><a href="/ecom-checkout">Checkout</a></li>
                            <li><a href="/ecom-invoice">Invoice</a></li>
                            <li><a href="/ecom-customers">Customers</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            -->
             <li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                <i class="flaticon-rocket"></i>
                    <span class="nav-text">L11 Automation</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/sit_automation/workflow_editor">Workflow Editor</a></li>
                    <li><a href="/sit_automation/sut_dashboard">SUT Dashboard</a></li>
                    
                </ul>
            </li>
            
        </ul>

    </div>
</div>
